This notebook shows the yelp dataset start rating classification problem. The objective is to predict the star rating based on photos

In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

## 1. Load Data

In [4]:
df_business = pd.read_json('../../data/business.json',lines=True)
df_photo = pd.read_json('../../data/photo.json', lines=True)

## 2. Exploratory Data Analysis (EDA) and Data Preprocessing

In [5]:
df_business = df_business.dropna()
df_business['review_count'] = df_business['review_count'].fillna(0)
df_business['stars'] = df_business['stars'].fillna(0)

In [6]:
df_business.describe()

,is_open,latitude,longitude,review_count,stars
count,129268.000000,129268.000000,129268.000000,129268.000000,129268.000000
mean,0.843565,38.348179,-97.976657,44.508370,3.712644
std,0.363268,4.867658,16.625511,131.780404,0.934989
min,0.000000,33.204642,-115.477519,3.000000,1.000000
25%,1.000000,33.625583,-112.272915,6.000000,3.000000
50%,1.000000,36.127674,-111.790583,13.000000,4.000000
75%,1.000000,43.112978,-80.037140,36.000000,4.500000
max,1.000000,51.296592,-72.945050,8348.000000,5.000000